@if (!loadDone) {
<div class="alert-box container">loading...</div>
}
@if (loadDone && !tweet.length) {
<div class="alert-box container">load fail</div>
}

@if (cover) {
<div class="cover">
	<div class="container">
		@if (cover.banner) {
		<div>
			<img class="banner" src="{{ cover.banner }}">
		</div>
		}
		<div>
			<img class="avatar-big" src="{{ cover.avatar.replace('_normal\.jpg', '_400x400.jpg') }}">
			{{ cover.uid }} /
			{{ cover.name }} /
			{{ cover.screenName }}
			<p>
				{{ cover.bio }}<br>
				{{ cover.location }}<br>
				created at {{ cover.tsCreate * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}
			</p>
		</div>
	</div>
</div>
}

@for (t of tweet; track $index) {
	<app-tweet-item [t]="t"></app-tweet-item>
}
